.Navbar {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height:100px;
  background:seashell;
  font-family: 'Ballinger Mono';
}

.Navbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.Navbar__logo a {
  font-weight: bolder;
  font-size: 1.5rem;
  padding-left: 3rem;
  text-decoration: none;
  color: black;
}

.Navbar__logo-semicolon{
  font-size: larger;
  color:orangered;
}

.Navbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Navbar__navigation-items li {
  padding-right: 5rem;
}

.Navbar__navigation-items a {
  color: black;
  text-decoration: none;
}

.Navbar__spacer {
  flex: 1;

}

.Navbar__logo a:hover,
.Navbar__logo a:active {
  color:orangered
}

.Navbar__logo-semicolon:hover,
.Navbar__logo-semicolon:active {
  color:black
}

.Navbar__navigation-items a:hover,
.Navbar__navigation-items a:active {
  color:orangered;
}